---
import ProjectCard from './ProjectCard.astro'
import { PROJECTS } from '@lib/projectsData'
---

<section id='projects' class='h-fit py-6'>
  <div class='max-w-4xl mx-auto'>
    <h2
      class='mb-4 font-bold text-4xl text-center text-cyan-400 md:ml-0 md:text-5xl'
    >
      PROYECTOS
    </h2>

    <section class='mx-4 flex flex-col gap-6 sm:gap-8 lg:mx-0'>
      {
        PROJECTS.map(
          ({ title, image, description, website, github }, index) => (
            <ProjectCard
              index={index}
              title={title}
              image={image}
              description={description}
              website={website}
              github={github}
            />
          )
        )
      }
    </section>
  </div>
</section>

<script>
  const projectCards = document.querySelectorAll('article')

  function intersectionCallback(entries: IntersectionObserverEntry[]) {
    const [entry] = entries
    if (entry.isIntersecting) {
      entry.target.classList.add('!translate-y-0', '!opacity-100')
      observer.unobserve(entry.target)
    }
  }

  const observer = new IntersectionObserver(intersectionCallback, {
    threshold: 0.6,
  })

  projectCards.forEach((projectCard) => {
    if (projectCard) observer.observe(projectCard)
  })
</script>
