---
import ProjectCard from './ProjectCard.astro'
import { PROJECTS } from '@lib/projectsData'
---

<section id='projects' class='h-fit py-6'>
  <div class='max-w-4xl mx-auto'>
    <h2
      class='mb-4 font-bold text-4xl text-center text-red-600 md:ml-0 md:text-5xl'
    >
      PROYECTOS
    </h2>

    <section class='mx-4 flex flex-col gap-6 sm:gap-8 md:mx-0'>
      {
        PROJECTS.map(({ title, image, description, website, github }) => (
          <ProjectCard
            title={title}
            image={image}
            description={description}
            website={website}
            github={github}
          />
        ))
      }
    </section>
  </div>
</section>

<script>
  const articles = document.querySelectorAll('article')

  function intersectionCallback(entries: IntersectionObserverEntry[]) {
    const [entry] = entries
    if (entry.isIntersecting) {
      entry.target.classList.add('lg:animate-reveal')
      observer.unobserve(entry.target)
    }
  }

  const observer = new IntersectionObserver(intersectionCallback, {
    threshold: 0.5,
  })

  articles.forEach((article) => {
    if (article) observer.observe(article)
  })
</script>
